@import '../../styles/colors.css';

.wrap {
  position: absolute;
  max-width: 250px;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: var(--gray);
  overflow: hidden;
}

.button {
  width: 100%;
  text-align: left;
}

.button:hover {
  border: 1px solid transparent;
  border-left: 1px solid var(--secondary);
}

.list {
  list-style: none;
}

.show {
  height: 100%;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.hide {
  height: 0;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
