@import '../../styles/colors.css';

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: .7rem;
  background-color: transparent;
  color: var(--white);
}

.button:hover {
  text-decoration: underline;
}

.active {
  position: absolute;
  right: .3rem;
  top: 0;
  display: inline-block;
  margin-left: .3rem;
  padding: .3rem;
  background-color: var(--secondary);
  border-radius: 50%;
}
