.wrap {
  position: relative;
  flex: 1;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 10px;
  width: 98%;
}
